<!DOCTYPE html>
<html>
	<head>
		<title>restful_app</title>
		<link  rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css'>
		<link  rel='stylesheet' type='text/css' href='/stylesheet/app.css'>
	</head>
	<body>
		<div class='ui fixed inverted menu'>
			<div class='ui container'>
				<div class='header item'><i class='leaf icon'></i>Restful Blog</div>
				<a href='/' class='item'>Home</a>
			    <a href='/blogs' class='item'>New Post</a>
			</div>
		</div>
